@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


:root {
    --primary : #111111;
}


* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 15px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #111111 ;
    background-image: url(/src/imgs/nav/pic2.jpg);
    
}

form {
    background-color: var(--primary);
}

h1 > span {
    font-family: 'Rubik';
    font-weight: 1200;
}


.wrapper {
    width: 950px;
    height: 650px;
    background-color: var(--primary);    
    border-radius: 10px;
    color: black;
    padding: 40px 35px 18px;
    margin-top: 40px;
    margin-left: -30px;
    box-sizing: border-box;
    position: relative;
    box-shadow: -2px -1px 49px 27px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 49px 27px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 49px 27px rgba(0,0,0,0.75);
    
}

.wrapper .title {
    width: 570px;
}


.wrapper .page-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
}

.wrapper .page-buttons #registerButton {background-color: #817e7b;}

.wrapper .page-buttons #registerButton a {
    font-weight: bold ;
    color: #FFF;
}

.wrapper .page-buttons button {
    background-color: #A98F76;
    padding: 15px;
    border-radius: 10px;
    border: none;
}


.wrapper .page-buttons a{
    text-decoration: none;
    color: #111111;
    font-weight: 550;
}

.wrapper .container {
    width: 100%;
    display: flex;
    gap: 50px;
}

.wrapper .left-section {
    margin-top: 40px;
}

.wrapper .right-section {
    display: flex;
    align-items: center;
}



.wrapper .right-section h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 35px;
}


.wrapper .left-section .input-box .name-surname,
.wrapper .left-section .input-box .emails,
.wrapper .left-section .input-box .password-cnfPassowrd{
    display: flex;
    width: 100%;   
}

.wrapper h1 {
   font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.wrapper .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary);
    width: 600px;

}
.input-box .input-field {
    position: relative;
    width: 700px;
    height: 50%;
    border-radius: 6px;
    background-color: var(--primary);
    margin: 13px 0;
}
.input-box .input-field input {
    width: 80%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    background-color: transparent;
    border-bottom: 2px solid #FFF;
    outline: none;
    font-size: 16px;
    color: #FFF;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder {
    color: #FFF; 
    opacity: 0.3;
}
.input-box .input-field i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #FFF;
}


.wrapper .container .left-section .input-box .submit-section {margin-top: 20px;}

.wrapper .btn {
    width: 50%;
    height: 60px;
    margin-top: 40px;
    background-color: #A98F76;;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

@media (max-width: 600px) {
    .container {
        width: 500px;
        flex-direction: column;
    }
}


.checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.social-icons {
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}
.social-icons img {
    width: 50px;
    height: 50px;
    margin: 0 7px;
    cursor: pointer;
    border-radius: 50%;
}


.error-box {
    color: #c90000;
}
