@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #111111;
    --secondary: #171A23;
    --actionColors: #A98F76;  
  }


  * {
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit';
    box-sizing: border-box;
    /* FIREFOX */
    scrollbar-width: none;
    scrollbar-color: #171A23;
}

  *::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 13px;
    /* border: 1px solid #ffffff; */
  }


body {
  background-color: var(--primary);
  /* margin: 0 40px; */
}


.submit-review .submit-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;

}
.submit-review .submit-form input, textarea, button {
  border-radius: 5px;
  padding: 12px;}
.submit-review .submit-form input, textarea {
  background-color: #171820;
  border: 0.01px solid #FFF;
  color: #FFF;
}

.submit-review .submit-form button {
  border: none;
  background-color: #A98F76;
  cursor: pointer;
}




.reviews .container {
    /* display: flex; */
    height: 400px;
    width: 100%;
    background-color: #171820;
    margin-top: 150px;
  
  }
  
  .reviews .container .reviewBoxContainer {
    display: flex;
    overflow-x: auto ;
  }
  
  .reviews .container .reviewNavContainer .nav-review {
    display: flex;
    height: 40px;
    width: 50%;
    margin-left: 20px;
    gap: 50px;
  }
  
  .reviews .container .reviewNavContainer .nav-review a {
    
    color: var(--actionColors);
    padding: 5px;
    
    font-weight: 300;
    border-bottom: solid var(--actionColors);
    border-radius: 10px;
    text-decoration: none;
  }
  
  .reviews .container .reviewNavContainer .nav-review a:hover {
    background-color: var(--actionColors);
    color: #FFF;
  }
  
  
  .reviews .container .reviewBox { 
    color: #FFF;
    width: 20%;
    background: linear-gradient(to bottom, rgba(63, 63, 63, 0.8) 40%, rgba(34, 34, 34, 0) 100%);
    margin: 30px 30px;
  
  }
  .reviews .container .reviewBox .account-nav{
      display: flex;
      gap: 20px;
      margin: 20px 40px 20px;
    }
  
  .reviews .container .reviewBox .account-nav img{border-radius: 15px;}
  
  .reviews .container .reviewBox .account-nav #account {font-size: 12px;}

  .reviews .container .reviewBox .review-bottom{
      display: block;
      margin-left: 85px;
      margin-bottom: 30px;
    }


  
  .reviews .container .reviewBox .review-bottom p{
      width: 140px;
      height: 100px;
      margin-bottom: 25px;
      overflow-y: scroll;
  
  }
  .reviews .container .reviewBox .review-bottom button{
    padding: 5px;
    color: var(--actionColors);
    background-color: var(--secondary);
    border: solid 0.5px;
  
  }
  
  
  .reviews .container .reviewBox .review-bottom button:hover {
    background-color: var(--actionColors);
    color: #FFF;
    cursor: pointer;
  }
  
  
  
  
 




.movie {
    display: flex;
}

.movie .container {
    margin-top: 150px;
    margin-left: 50px;
    display: flex;
    flex-wrap: nowrap;
}

.movie .container .poster img { 
    position: relative;
    height: 65vh;
    border: .2px solid #FFF;
    box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
    -webkit-box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
    -moz-box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
}

.movie .container .movie-details .movie-title {
    margin: 30px;
    color: #FFF;
}

.movie .container .movie-details .movie-buttons{margin-left: 25px;}
.movie .container .movie-details .movie-buttons .button-list {
    display: flex;
    gap: 30px;
    list-style: none;
    

}

.movie .container .movie-details .movie-buttons .button-list .trailer {
    background-color: #111111;
    border-radius: 10px;
    border: solid 0.1px #171A23;
}

.movie .container .movie-details .movie-buttons .button-list .trailer:hover {
    background-color: #242424;
}




.movie .container .movie-details .movie-buttons .button-list a {
   text-decoration: none;
   color: #FFF;
   background-color: #A98F76;
   padding: 10px 20px;
   width: 50px;
   border-radius: 100%;
    

}




.movie .container .movie-details .movie-description {
    margin: 30px;
    color: #FFF;
    width: 80%;
    overflow-y: auto;
    border-top: solid 0.3px #FFF;
    border-bottom: solid 0.3px #FFF;
    
}

.movie .container .movie-details .movie-description ~ h3 {
    margin: 30px;
    color: #FFF;

}


.movie .container .movie-details .credits {
    display: flex;
    gap: 50px;
    /* justify-content: space-evenly; */
    margin: 30px;
    color: #FFF;
    width: 80%;
    overflow-y: auto;
    
}



