@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

:root {
  --primary: #111111;
  --secondary: #171A23;
  --actionColors: #A98F76;


}


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit';
    box-sizing: border-box;
    /* FIREFOX */
    scrollbar-width: none;
    scrollbar-color: #171A23;
}


  *::-webkit-scrollbar {
    width: 6px;

    
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 13px;
    /* border: 1px solid #ffffff; */
  }


body {
  background-color: var(--primary);
  /* margin: 0 40px; */
}



nav {
    display: flex;
    justify-content: space-around;
    height: 60px;
    user-select: none;
    width: 100%;
    position: fixed;
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.8) 40%, rgba(34, 34, 34, 0) 100%);
    z-index: 5;
    /* opacity: 0.3; */
    
}

nav .search-field a {
  margin-left: 25px;
  font-size: 30px;
  transform:rotate(180deg);
}

nav .search-field a:hover {
  font-size: 35px;
}




nav .search-field .search-bar-container {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: 0 15px;
  background: linear-gradient(to left, rgba(98, 98, 98, 0)135%, rgba(0, 0, 0, 1.7));
}


nav .search-field .search-bar-container #closeSearch {
  margin-right: 40px;
  background-color: var(--actionColors);
  color: #FFF;
  border: none;
  border-radius: 5px;
}

nav .search-field input {
  width: 100%;
  background: #FFF;
  margin: 0 15px;
  border: none;
  border-radius: 10px;
}


#closeSearch {
  background-color: #ddd;
  border: none;
  padding: 5px;
  cursor: pointer;
}


.navLogo{
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5px;
    background-color: inherit;}

.navLogo p,span{
    background-color: inherit;
    display: flex;
    font-size: 40px;
    font-family: 'Jolly Lodger';

}
.navLogo a{
    display: flex;
    margin-top: 15px;
    align-items: center;
    background-color: inherit;
    color: #ffff;
    text-decoration: none;}



.navLogo span{color: var(--actionColors);}


.lists {
    display: flex;
    align-items: center;
    background-color: inherit;
    transition: height 0.4 ease-in-out;
    }


    

.lists a{
    text-decoration: none;
    margin: 30px 20px;
    color: #ffffff;
    background-color: inherit;
    font-weight: bold;
    transition: .4s ease-in-out;
}



.lists a:active{
  border-bottom: solid 1px #FFF;
}


.lists .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  border-radius: 15px;
  background-color: var(--primary);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.lists .dropdown .dropdown-menu a{
  color: #FFF;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.lists .dropdown .dropdown-menu a:hover {
  background-color: var(--secondary);
}

.lists .dropdown-btn {
  background: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.lists .dropdown-btn:hover {
  text-decoration: underline;
}



.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}









/* Responsitivity per Hamburger Menu (Smaller Devices) */

@media screen and (max-width: 768px){
    .hamburger {
        display: flex;
        cursor: pointer;
        background-color: inherit;
        transition: 0.3s ease-in-out;
        user-select: none;
        
    }

    .hamburger #closeHam {
        display: none;
    }

    .lists {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        height: 0;
        top: 52px;
        background: rgba(255, 255, 255, 0.02);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.9px);
        -webkit-backdrop-filter: blur(5.9px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-top: none;
        width: 100%;
        height: calc(80vh - 50px);
        padding-top: 20px;
        gap: 2vh;
        z-index: 3;
        animation: slowChange 1s column ;
        border-bottom: 0.4px solid #FFF;
        
        
    }

    .lists a{
        color: #fff;
        font-size: 3vh;
    }


}