@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit';
    box-sizing: border-box;
    /* FIREFOX */
    scrollbar-width: none;
    scrollbar-color: #171A23;
}

  *::-webkit-scrollbar {
    width: 6px;
    
  }

  *::-webkit-scrollbar-track {
    background: #111111;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #171A23;
    border-radius: 13px;
    /* border: 1px solid #ffffff; */
  }


body {
  background-color:  #111111;
  /* margin: 0 40px; */
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #171A23;

    height: 50px;
    user-select: none;
    width: 100%;
    position: fixed;
    z-index: 5;
    
    
    
}


.navLogo{
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5px;
    background-color: inherit;}

.navLogo p,span{
    background-color: inherit;
    display: flex;
    font-size: 40px;
    font-family: 'Jolly Lodger';

}
.navLogo a{
    display: flex;
    margin-top: 15px;
    align-items: center;
    background-color: inherit;
    color: #ffff;
    text-decoration: none;}



.navLogo span{color: #A98F76;}


.lists {
    display: flex;
    align-items: center;
    background-color: inherit;
    transition: height 0.4 ease-in-out;
    }


    

.lists a{
    text-decoration: none;
    margin: 30px 20px;
    color: #ffffff;
    background-color: inherit;
    font-weight: bold;
    transition: .4s ease-in-out;
}

.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}









/* Responsitivity per Hamburger Menu (Smaller Devices) */

@media screen and (max-width: 768px){
    .hamburger {
        display: flex;
        cursor: pointer;
        background-color: inherit;
        transition: 0.3s ease-in-out;
        user-select: none;
        
    }

    .hamburger #closeHam {
        display: none;
    }

    .lists {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        height: 0;
        top: 52px;
        background-color: #171A23;
        width: 100%;
        height: calc(80vh - 50px);
        padding-top: 20px;
        gap: 2vh;
        z-index: 3;
        animation: slowChange 1s column ;
        border-bottom: 0.4px solid #FFF;
        
        
    }

    .lists a{
        color: #fff;
        font-size: 3vh;
    }

}

.header-home {
  
  display: flex;
  justify-content: space-between;
  background-color: #171A23;
  height: 700px;
  
}

.header-home::-webkit-scrollbar {
  background-color: #FFF;
}













/* SIDE TRENDING SECTION */

.side-section {
  margin-top: 115px;
  margin-left: -90px;
  width: 25%;
  height: 90vh;
  margin-right: 40px;
  padding: 20px;
  background: -webkit-linear-gradient(#2f2f2f, #171A23);
  overflow-y: auto; 
}

.side-image {
  display: flex;
  margin-bottom: 20px;
  margin-left: 30px; 

}

.side-image img {
  width: 20vh;
  border: 2px solid #FFF;
  
  
}

#trending {
  color: #A98F76;
  margin-bottom: 20px ;
}

.image-description {
  color: #fff;
  width: 195px;
  margin-top: 80px;
  margin-left: 10px;
  text-align: center;
  font-size: 12px;
}

.trnd-anchors {
  text-decoration: none;
}







/* MOVIE CAROUSEL SLIDER */

.imgContainer {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 65vh;
  margin-top: 60px;
  margin-left: 30px;

  

}

.imgContainer .img-slider {
  display: flex;
  position: relative;
  width:100%;
  
  

}

.img-slider .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0)-55%, rgba(0, 0, 0, 1.7));
  z-index: 2;
}

.img-slider .slide {
  z-index: 2;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
  
  
}

.img-slider .slide.active {
  clip-path: circle(350% at 0 80%);
  transition: 1.2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  
  z-index: 1;
  width: 100%;
  /* border-radius: 8px; */
 
  
  
}

.img-slider .slide .info {
  position: absolute;
  bottom: 0;
  z-index: 3;
  margin-left: 15px;
}

.img-slider .slide .info h2{
  text-transform: uppercase;
  font-family: 'Rubik';
  font-weight: 800;
  letter-spacing: 2px;
  color: #FFF;
  font-size: 45px;
  margin: 10px 5px;
}

.img-slider .slide .info p{
  letter-spacing: 2px;
  color: #FFF;
  font-size: 15px ;
  margin: 10px 5px;
}


.img-slider .slide .info button{
  background-color: #A98F76;
  font-size: 15px;
  padding: 3px 25px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 40px;
  cursor: pointer;
 
}

#watchBtn{
  background-color: #111111;
  opacity: 0.5;
  color: #FFF;
}

#watchBtn:hover {
  opacity: 1;
}


.img-slider .slide .info button:hover {
  background-color: #cfb49c;
}




.img-slider .navigation {
  position: sticky;
  z-index: 2;
  display: flex;
  bottom: 0;
  left: 50%;
}

.img-slider .navigation .btn {
  background: rgba(255, 255 , 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  
}

.img-slider .navigation .btn.active {
  background: #FFF;
}













/* RESPONSITIVITY FOR SMALLER SCREENS  */





@media screen and (max-width:1320px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;

  }

  .img-slider .slide .info h2 {
    font-size: 25px;

  }


  .img-slider .slide .info p {
    width: 70%;
    font-size : 10px;

  }


  .side-section {
    
    height: 65vh;
    margin-right: 10px;
    padding: 20px;
    /* background-color: ; */
    overflow-y: auto; 
  }




 
}


@media screen and (max-width:768px) {
  
  .img-slider {
    width: 600px;
    height: 375px;
    margin-top: 30px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;

  }

  .img-slider .slide .info h2 {
    font-size: 25px;

  }


  .img-slider .slide .info p {
    width: 70%;
    font-size : 10px;

  }

 
  .side-section {
    
    height: 45vh;
    margin-right: 10px;
    margin-top: 30px;
  }


  .side-image {
    margin-bottom: 20px;
    margin-left: 10px; 
  }
  
  .side-image img {
    width: 100%;
    border: 2px solid #FFF;
    
    
  }
  
  

 
}



@media screen and (max-width:620px) {
  
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;

  }

  .img-slider .slide .info h2 {
    font-size: 15px;

  }


  .img-slider .slide .info p {
    width: 80%;
    font-size : 7px;

  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }


  .side-section {
    
    height: 40vh;
    margin-right: 10px;
    margin-top: 40px;
  }

  .side-image img {
    width: 100%;
  }

}


@media screen and (max-width:400px) {
  
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 8px 10px;
    margin-left: 1px;
    margin-bottom: -30px;
  }

  .img-slider .slide .info h2 {
    font-size: 10px;

  }


  .img-slider .slide .info p {
    width: 80%;
    font-size : 8px;

  }

  .img-slider .slide .info button{
    background-color: #A98F76;
    font-size: 10px;
    padding: 3px 15px;
    
   
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }


  .side-section {
    
    height: 20vh;
    margin-right: 10px;
    margin-top: 40px;
  }

  .side-image img {
    width: 150%;
    margin-left: -10px;
  }

  .image-description {
    margin-left: -10px;
    font-size: 10px;
    text-align:left;
    width: 20%;
  }

  #trending {
    font-size: 15px;
  }

}










/* TOP 100 SECTION */


.top100 .container {
  
  margin: 300px auto;
  display: flex;
  overflow-x: auto;
  justify-content: space-evenly;
  gap: 30px;
  padding-left: 560px;
  width: 90%;
  padding-top: 20px;
  
  
}


.top100 .container::-webkit-scrollbar {
  height: 10px;
}

 .top100 .container img{

  width: 30vh;
  height: 50vh;
  border-radius: 8px;
  box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
-webkit-box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
-moz-box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);

}

.top100 #paragraph {
  margin-top: -90px;
  margin-left: 60px;
  margin-bottom: -285px;
  color: #A98F76;
  font-size: 45px;

}


.top100 .container .top100-img h2 {
  color: #fff;
  text-align: center;
}









/* COLUMN LIST  */



.columnLists .container {
  display: flex;
  justify-content: space-around;
  background: -webkit-linear-gradient(#242424, #171A23);
  color: white;
  overflow-y: auto;
  height: 800px;
  margin: 0 60px;


}


.columnLists .container .column-img-container{
  display: flex;
  

} 

.columnLists .titles h2{
  color: #FFF;
  margin-left: -120px;
  
}


.columnLists .container .tv-show-week,
.featured-today, .highest-rated, .finished-airing {
  text-align:left;
  
}


.columnLists .columnLists .container .column-img-container {
  margin-top: 10px;
  


}
 
  
.columnLists .container .column-img-container img {
  width: 20vh;
  margin: 35px auto;
  border: 0.3px solid #A98F76;
  box-shadow: -2px -2px 35px -10px rgba(195,195,195,0.75);
-webkit-box-shadow: -2px -2px 35px -10px rgba(195,195,195,0.75);
-moz-box-shadow: -2px -2px 35px -10px rgba(195,195,195,0.75);
}

.columnLists .container .column-img-container p {
  margin-top: 160px;
  margin-bottom: 20px;
}


.columnLists .container .column-img-container .info-column{
  margin-left: 20px;
  margin-bottom: 20px;

}



.columnLists .container .column-img-container .info-column a{
  border: 1px solid #171A23;
  text-decoration: none;
  padding: 10px 25px;
  color: #acacac;
  background-color: #111111;


} 


.columnLists .container .column-img-container .info-column a:hover{
  color: #FFF;
  background-color: #303030;
  

} 







/* JOIN SECTION  */

.join-section .container {
  margin: 150px auto;
  background-color: #171A23;
  width: 100%;
  height: 40vh;
  color: #FFF;
  z-index: 1;
  display: flex;
  
}



.join-section .container .info-joinUs {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


