@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger&display=swap');

:root {
    --swiper-navigation-color: #A98F76;
  }

*::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    background-color: #2a2e3a;
    font-family: 'Kanit';
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: #171A23;
    height: 50px;
    user-select: none;
    
}

.navLogo{
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5px;
    background-color: inherit;}

.navLogo p,span{
    background-color: inherit;
    display: flex;
    font-size: 40px;
    font-family: 'Jolly Lodger';

}
.navLogo a{
    display: flex;
    margin-top: 15px;
    align-items: center;
    background-color: inherit;
    color: #ffff;
    text-decoration: none;}



.navLogo span{color: #A98F76;}


.lists {
    display: flex;
    align-items: center;
    background-color: inherit;
    transition: height 0.4 ease-in-out;
    }


    

.lists a{
    text-decoration: none;
    margin: 30px 20px;
    color: #ffffff;
    background-color: inherit;
    font-weight: bold;
    transition: .4s ease-in-out;
}

.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

/* Responsitivity per Hamburger Menu (Smaller Devices) */

@media screen and (max-width: 768px){
    .hamburger {
        display: flex;
        cursor: pointer;
        background-color: inherit;
        transition: 0.3s ease-in-out;
        user-select: none;
        
    }

    .hamburger #closeHam {
        display: none;
    }

    .lists {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        height: 0;
        top: 52px;
        background-color: #171A23;
        width: 100%;
        height: calc(80vh - 50px);
        padding-top: 20px;
        gap: 2vh;
        z-index: 3;
        animation: slowChange 1s column ;
        border-bottom: 0.4px solid #FFF;
        
        
    }

    .lists a{
        color: #fff;
        font-size: 3vh;
    }

}

/* SLIDER */

.mainContainer {
    display: flex;
    justify-content: space-between;
    background-color: #171A23;
    height: 580px;
}


.swipeContainer {
    
    margin: 80px 25px;
    border: solid;
    border-radius: 2rem ;
    width: 50vw;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-shadow: -23px 21px 29px -13px rgba(255,255,255,0.75);
-webkit-box-shadow: -23px 21px 29px -13px rgba(255,255,255,0.75);
-moz-box-shadow: -23px 21px 29px -13px rgba(255,255,255,0.75);
  }


  .swipeContainer > ul {
    margin: 0;
    padding: 0;
 
    
  }

  .swipeContainer img{
    border: solid;
    border-radius: 2rem ;
  }

  .swipeContainer li{list-style-type:none;}

  .swipe {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    border: solid;
    border-radius: 2rem ;
  }
  
  .swipe > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .swipe[data-active] {
    opacity: 0.8;
    z-index: 1;
    transition-delay: 50ms;
  }
  
  .swipeContainer-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFF;
    cursor: pointer;
    height: 3rem;
    border-radius: .50rem;
    padding: 0 .5rem;
    background-color: #A98F76;
    opacity: 0.7;
  }
  
  .swipeContainer-button:hover {
    background-color: #d8b28f;
    opacity: 0.8;
  }
  .swipeContainer-button:focus {
    color: white;
    background-color: #d8b28f;
    opacity: 0.9;
  }
  
  .swipeContainer-button:focus {
    outline: 1px solid black;
  }
  
  .swipeContainer-button.prev {
    left: 1rem;
  }
  
  .swipeContainer-button.next {
    right: 1rem;
  }


  .searchBar {
    background-color: inherit;
    margin-left: 20px;
    margin-top: 18px;
    
  }

  

  
/* WELCOME TEXT */
.mainText {
  background-color: #171A23;
}

.textWelcome {
  margin: 100px 0;
  background-color: #171A23;
}

.textWelcome > h1 {font-size: 3rem;}

.textWelcome h1, p {
  background-color: #171A23;
  color: #FFF;
  margin-left: 25px;
}

.searchBar button {
  width: 100px;
  background-color: #d8b28f;
  font-size: 1.3rem;
  height: 45px;
  color: #FFF;
  border-radius: 10px;
  
}

.searchBar input {
    width: 450px;
    height: 40px;
    border-radius: 0.6rem;
    color: #FFF;
    background-color: #7c7c7c;
  }

.searchBar input::placeholder {
    opacity: 0.4    ;
    color: white;
}


/*  Responistivity for Smaller Screens (First Section - Main) */
@media screen and (max-width:900px) {
  .mainContainer {
     flex-wrap: wrap;
     justify-content: center;
  }

  .mainText {
    overflow: hidden;
    margin: -100px 0;
    width: 1500px;
    padding: 0px;
  }



     
}


@media screen and (max-width:300px) {
  .mainContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }

  .mainText {
    margin: -100px -20px;
    overflow: hidden;
    width: 540px;
  }
} 


  
  



/* MAIN  */


.trendingSection {
  margin: 30px 0;
  overflow: hidden;


}

.trendingColor {
  color: #d8b28f;
  display: inline;
  font-size: 3rem;
  font-family: 'Kanit';
}

.trendingSection > p {
  font-size: 3rem;
  margin: 10px 35px;
  background-color: #2a2e3a;}

.imagesContainer{
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 55px;
    height: 60vh;
    
  }


.images {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 30px; /* Adjust the value as needed */
  
}

.img{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.img img:hover {
  box-shadow: 16px 3px 29px -2px rgba(169,143,118,0.75);
-webkit-box-shadow: 16px 3px 29px -2px rgba(169,143,118,0.75);
-moz-box-shadow: 16px 3px 29px -2px rgba(169,143,118,0.75);
}

.img a {text-decoration: none;}

.images p {
  text-align: center;
  background-color: #2a2e3a;
  margin-top: 10px;
  margin-left: 10px;
  white-space: normal;
  
}


.images img {
  height: 50vh;
  object-fit: cover;
  border: solid 1px #FFF;
  
}


.top100imdbSection {
  margin: 100px 0;
  overflow: hidden;
} 

.top100imdbSection > p {
  font-size: 3rem;
  margin: 10px 35px;
  background-color: #2a2e3a;
}







.containerDescritption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1500px;
  height: 300px;
  background-color: #96A4D3;
  position: relative;
  margin: 180px auto;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px 0px rgba(54,143,218,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(54,143,218,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(54,143,218,0.75);
  border-radius: 15px;
}

.containerDescritption:hover {
  
}

.containerDescritption p {
  background-color: inherit ;

  
}

.containerDescritption p:first-child {
  font-size: 3rem;
}


.containerDescritption button {
  padding: 10px 20px;
  background-color: #d8b28f;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 10px;
}

.containerDescritption a{ 
  background-color: #96A4D3;
  overflow: hidden;
}






















/* FOOTER */


.footerContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  background-color: #32246c;
  position: relative;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 250px;
}


.leftside {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.leftside p{background-color: inherit;}


.rightSide {
  display: flex;
  justify-content: space-around;
}

.rightSide{background-color: inherit;}
.rightSide p{
  margin: 0 40px;
  background-color: inherit;}