@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

:root {
  --primary: #111111;
  --secondary: #171A23;
  --actionColors: #A98F76;


}


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit';
    box-sizing: border-box;
    /* FIREFOX */
    scrollbar-width: none;
    scrollbar-color: #171A23;
}

  *::-webkit-scrollbar {
    width: 6px;
    
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 13px;
    /* border: 1px solid #ffffff; */
  }


body {
  background-color: var(--primary);
  /* margin: 0 40px; */
}



.mainContainer{display: flex;}
.leftSection{
    background-color: var(--primary);
    width: 900px;
    height: auto;


}
.leftSection .container {
    display: flex;
    flex-wrap: wrap;
}

.leftSection .container .genres{
    width: 60%;
    margin: 110px auto 20px;
    color: #FFF;
    border-radius: 30px;
    padding: 20px;
    box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
    -webkit-box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
    -moz-box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
    

}

.leftSection .container .genres .genre-list .listUnordered{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 10px;
    color: #FFF;
}


.leftSection .container .genres .genre-list .listUnordered a{
    text-decoration: none;
    color: #FFF;
}


.leftSection .container .genres .genre-list .listUnordered a:hover{
    border-bottom: solid 0.4px #FFF;
}


.leftSection .container .filters{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    margin: 30px auto;
    color: #FFF;
    border-radius: 30px;
    padding: 20px;
    box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
    -webkit-box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
    -moz-box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
    
}


.leftSection .container .release-dates {
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;
    color: #FFF;
}


.leftSection .container .release-dates .dates input {
    width: 100%;
}



.mainContainer .movies-list .container .images-row {
    margin: 120px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}

.mainContainer .movies-list .container .images-row .img{
    color: #FFF;
    height: 50vh;
    letter-spacing: 0.8px;
    border-radius: 20px;

}

.mainContainer .movies-list .container .images-row .img >p{
    text-align: center;
    margin-top: -5px;
    background-color: #574a3f;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.mainContainer .movies-list .container .images-row img {
    height: 45vh;
    width: 30vh;
    border-radius: 20px;
    box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
    -webkit-box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
    -moz-box-shadow: -2px 7px 44px -22px rgba(178,178,178,0.75);
}



